* {
  padding: 0px;
  margin: 0px;
}
.FixedContent {
  background-image: url(./img/fondo.svg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  }

.Container{
  display: flex;
  }

.div{
  display: flex;
flex-direction: column;
width: 28vw;
height: 80vh;
align-items: center;
}
  
  .NavMenu{
    font-family: Amaranth;
    font-size: 2.5vh;
    padding: 15px 0;
    text-decoration: none;
     padding-left:3px;
     padding-right:3px;
     margin-left: 4vw;
     display: flex;
     list-style-type: none;
  }

  .projectBtn{
    text-transform: uppercase;
    margin-left: 8vw;
  }

  a{
    text-decoration: none;
    color:white;
  }

  .projectBtn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
  }

  .projectBtn:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #8768ff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .projectBtn:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .mainContent{
    display: flex;
  }

  .FixedInfo{
    width: 28vw;
    height: 80vh;
    background-color:#F9F9F9;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 2%;
    box-shadow: 0px 0px 20px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
  }
  
  .FixedLogo{
    height: 28vh;
    margin-top: 5vh;
  }
  
  .FixedName{
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 1vh;
    font-size: 3vh;
    margin-top: -2vh;
  }

  .FixedDescription{
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 1vh;
    font-size: 2vh;
    margin-top: -0.3vh;
  }
  
  .FixedWelcome{
    font-size: 2vh;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 1.5vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .FixedTools{
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 1vh;
    font-size: 2.5vh;
  }



  @media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait){
    .FixedContent {
    background-image: url(./img/fondo4.svg);
    width: 116.3vw;
    height: 116.3vh;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    background-attachment: relative;
    }
  .Container{
    display: flex;
    flex-direction: column;
    }
  .NavMenu{
    font-family: Amaranth;
    font-size: 3vh;
    padding: 15px 0;
    text-decoration: none;
     padding-left:3px;
     padding-right:3px;
     margin-left: 5vw;
     bottom: -75vh;
     position: relative;
     list-style-type: none;
  }
  .FixedInfo{
    width: 100vw;
    height: 20vh;
    background-color: black;
    box-shadow: none;
    margin-left: -7vw;
    border-radius: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .FixedLogo{
    height: 15vh;
    position: relative;
    top: -12vh;
    left:90vw;
  }
  .div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 32vh;
  }

  .FixedName{
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 1vh;
    font-size: 3vh;
    margin-top: -2vh;
    color:white;
    position: relative;
    width:50vw;
  }

  .FixedDescription{
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    margin-top: -0.3vh;
    position: relative;
    left: -10vw;
    color:white;
  }
  
  .FixedWelcome{
    display:none;
  }
  
  .FixedTools{
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    position: relative;
    left:-45vw;
  }
  }

