.Icons{
    height: 15vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait){
    .Icons{
        height: 15vh;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
}
